@import "tailwindcss";

@root {}

@font-face {
  font-family: 'Pretendard Variable';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 45 920; /* 가변 폰트일 경우 범위 */
  font-style: normal;
  font-display: swap;
}

 @theme {
  --font-pretendard: "Pretendard Variable"; /* 기본 폰트로 사용 */
  --color-*: initial; /* 커스텀 컬러로 사용 */
  --color-main: #9747ff; /* 임시 메인 컬러 */
  --color-sub: #63D661; /* 임시 서브 컬러 */
}